@import './recipe-list.css';
@import './fonts.css';
@import-normalize;
@import './buttons.css';
@import './recipe.css';
@import './ingredient-list.css';
@import './recipe-edit.css';
@import './no-recipe.css';
@import './home.css';
@import './footer.css';
*,*::before,*::after{
   
    box-sizing: border-box;
}
html{
    font-size: 1.4rem;
    
    /* -webkit-text-stroke: 1px rgb(68, 69, 70); */
    
}
body{
    padding: 0;
    margin: 0;
    
}
.mr-1{
 margin-right: .3rem;
}
.background{
 background:#068f94;
 background-size:100%;
 width: 100%;
 max-width: 1800px;
 height: max-content;
 border-radius: .5rem;
 padding: 1rem;
 margin: 1rem;
 transition: ease-in 1s;
 margin-inline: auto;
 
}
.wrapper{
    
    background-color: cornsilk;
    padding-bottom: 3rem;
   height: max-content;
   width: 100%;
}
.container{
    transition: ease-in .4s;
    height: max-content;
    width: 100%;
}


