@font-face {
  font-family: Gotham Rounded;
  src: url('../fonts/GothamRounded-Bold.otf') format('otf'),
    url('../fonts/GothamRounded-Bold.otf') format('otf');
  font-weight: bold;
  font-stlye: normal;
}
@font-face {
  font-family: Gotham Rounded;
  src: url('../fonts/GothamRounded-LightItalic.otf') format('otf');
  font-weight: 300;
  font-stlye: italic;
}
@font-face {
    font-family: Gotham Rounded;
    src: url('../fonts/GothamRounded-Book.otf') format('otf');
    font-weight: normal;
    font-stlye: normal;
  }
